@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}

.btn {
    color: #0984e3;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 0;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}

.btn:hover {
    color: #0984e3;
}

.btn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0984e3;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.btn:hover:before {
    visibility: visible;
    width: 100%;
}

.line {
    width: 50px;
    height: 2px;
    background: black;
    display: block;
    margin-bottom: 35px;
}

.logo {
    margin-top: 30px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo-footer {
    width: 50px;
    height: 50px;
    float: right;
}

.hero {
    margin-top: 200px;
    margin-bottom: 300px;
}

.emoji {
    display: flex;
    flex-direction: row;
}

.emoji h4 {
    font-size: 30px;
    padding-right: 5px;
    margin: 10px 0;
}

.hero-button {
    padding: 15px 40px;
    font-weight: bold;
    border: none;
    background-color: #0984e3;
    color: white;
    float: right;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-content h2 {
    font-size: 1.7rem;
}

.about-content p {
    font-size: 18px;
    line-height: 1.75;
}

.portfolio p {
    margin-bottom: 80px;
}

.portfolio ul {
    list-style: none;
}

.kodilla {
    color: #02AC46;
}

.eduweb {
    text-decoration: none;
}

.kodilla:hover {
    text-decoration: none;
    color: #02AC46;
}

.project {
    margin: 30px 0;
    transition: transform .5s;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
    -moz-box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
    box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
}

.project:hover {
    transform: scale(1.03);
}

.project-photo img {
    border-radius: 3px;
}

.project-single {
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
    -moz-box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
    box-shadow: 0px 0px 12px -1px rgba(52, 73, 94, 0.45);
}

.biography-1 {
    max-width: 880px;
    padding-right: 40px;
}

.biography-2 {
    max-width: 880px;
    padding-right: 40px;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-weight: 500;
}

.contact ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.contact ul li {
    font-size: 30px;
    padding: 10px 30px 0 0;
}

.contact ul li a {
    color: #2d3436;
}

.project-overview h2 {
    margin: 200px 0 30px 0;
}

.project-overview h4 {
    margin-bottom: 30px;
    font-weight: 600;
}

.project-overview h3 {
    margin: 30px 0;
}

.project-overview p {
    font-size: 18px;
    line-height: 1.75;
}

.project-overview ul {
    margin-left: 18px;
}

.project-overview ul li {
    margin: 15px 0;
    font-size: 18px;
}

.project-overview i {
    font-size: 30px;
    padding: 10px 30px 0 0;
    color: black;
}

.github-repo {
    font-weight: 600;
}

.github-repo a {
    text-decoration: none;
    color: black;
}

.github-repo a:hover {
    text-decoration: none;
    color: black;
}

.project-line {
    width: 200px;
    height: 2px;
    margin: 50px auto;
}

.footer-line {
    width: 870px
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p {
    padding: 20px 0;
}

.footer-content img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 575px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .hero {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .hero-button {
        float: left;
        margin-top: 20px;
    }
    .hero-content h2 {
        font-size: 30px;
    }
    .hero-content h2:nth-child(1) {
        margin-bottom: 20px;
    }
    .project-overview h2 {
        margin: 180px 0 50px 0;
    }
    .about-content {
        flex-direction: column;
    }
    .footer-line {
        width: 80%;
    }
    .footer-content p {
        font-size: 10px;
        padding: 10px 0 0 0;
    }
    .footer-content img {
        width: 30px;
        height: 30px;
    }
}